@model IEnumerable<SauliBlog.Models.Twitter>

    @{
    ViewBag.Title = "Twitter";
    }

    <!DOCTYPE html>

    <html>

    <head>
        @{
        ViewBag.RSS = SauliBlog.Controllers.TwittersController.GetRSS();
        }
        <script type='text/javascript'>
            var map;
            function getTweets() {
                map = new Microsoft.Maps.Map(document.getElementById('map_canvas'), {
                    credentials: 'ApRh9o_3iouGO8RRIL3fGALvkMCsF4HvrPhsSmFYoCtwkKbYEBaFD0Jk5qVDtzsy'
                });
        }
        </script>

        <meta name="viewport" content="width=device-width" />
        <title>Number of tweets containing Shauli</title>
    </head>
    <body>

            <div id="grad2" style="direction:rtl;">
                <section>
                    <header>
                        <h3>@ViewBag.RSS.Title.Text</h3>
                        <h4>ציוצי שאולי</h4>
                    </header>
                    <ul>
                        @for (int i = 0; i < 3; i++)
                        {
                        <li>
                            <a href="@ViewBag.RSS.Items[i].Links[0].Uri.AbsoluteUri">
                                @Html.Raw(ViewBag.RSS.Items[i].Summary.Text)
                            </a>
                        </li>
                        }
                    </ul>
                </section>
            </div>

    </body>
</html>
