@model IEnumerable<ShauliBlog.Models.Comment>

<section id="comments">
    <h3>Comments</h3>
    @if (Model.Count() == 0)
    {
        <h4>No comments for this post.</h4>
    }
    else
    {
        foreach (var item in Model)
        {
            <article>
                <header>
                    <a href="@Html.ValueFor(modelItem => item.AuthorWebsite)">@Html.DisplayFor(modelItem => item.Author)</a>
                    on <time>@Html.DisplayFor(modelItem => item.WhenTaken)</time>
                </header>
                <p>@Html.DisplayFor(modelItem => item.Content)</p>
            </article>
        }
    }
</section>
