
@{
    ViewBag.Title = "Login";
}


<div class="page-header" style="margin-top:8%;">
    <h2>Admin</h2>
</div>
@Html.Action("Index", "Posts")
<div class="row">

    <div class="col-lg-2">
        <ul class="nav nav-pills nav-stacked">
            <!--<li>@Html.ActionLink("Blog", "Index", "Posts")</li>-->
        </ul>
    </div>
    @Html.ActionLink("Logout", "Logout")
</div>

