@model IEnumerable<ShauliBlog.Models.Post>

<script src="~/Scripts/FanAutoComplete.js"></script>
@{
    ViewBag.Title = "Blog";
}

<form action="/Blog/SearchPost" method="post">
    <span>Data:</span> 
    <input type="date" name="PublishDate" id="PublishDate" size="15">
    <br />
    <span>Author:</span> 
    <input type="text" value="" name="Author" id="Author" size="10" autocomplete="off">
    <div id="author-suggesstion-box"></div>
    <br />
    <span>Email:</span>
    <input type="email" name="WriterEmail" id="WriterEmail" size="25">
    <br />
    <input type="submit" value="Search Post">
</form>

@if (ViewBag.Posts.Count == 0)
{
    <hr />
    <p>
        <h3>No posts yet.</h3>
    </p>
    <hr />
}
else
{
    foreach (var item in ViewBag.Posts)
    {
        var post = (ShauliBlog.Models.Post)item.post;
        <hr />
        <p>
            @Html.Partial("Post", post)
        </p>

        <p>
            @Html.Partial("CommentList", post.Comments)
        </p>

        <p>
            @Html.Partial("CommentAdd", new ShauliBlog.Models.Comment { PostID = item.ID })
        </p>

        <hr />

    }

    <form action="/Blog/CountPostByWriter" method="post">
        <input type="submit" value="Show Statistics">
    </form>
   <!-- <form action="/Blog/RecommendPost" id="recommend" method="post">
        <input type="hidden" name="first_name" id="first_name">
        <input type="hidden" name="last_name" id="last_name">
        <input type="submit" value="Recommend Posts For Me" onclick="UpdateName()">
    </form> 

    <script>
    function UpdateName() {
        // Retrieve
        console.log("Retrive data");
        console.log(localStorage.getItem("fb_first_name"));
        document.getElementById("first_name").value = localStorage.getItem("fb_first_name");
        document.getElementById("last_name").value = localStorage.getItem("fb_last_name");
    }
    </script>-->
}

